<!DOCTYPE html>

@{ 
    ViewBag.Title = "Сотрудники";
}
<h3>@ViewBag.Title</h3>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class=table>
        <thead>
            <tr>
                <td>id</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Возраст</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.SurName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                    <td>
                        @Html.ActionLink("Детали сотрудника", "Details", new { id = employee.Id })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>
